<header class="header">
  <a class="header-item" routerLink="/" routerLinkActive="active">Dashboard </a>
  <ul class="flex-container">
    <nav className="flex-container">
      <a class="header-item" routerLink="/greenhouses" routerLinkActive="active">Greenhouses</a>
      <a class="header-item" routerLink="/sensors" routerLinkActive="active">Sensors </a>
      <a class="header-item" routerLink="/sensor-readings" routerLinkActive="active">Sensor Readings</a>
      <a class="header-item" routerLink="/threshold-alerts" routerLinkActive="active">Threshold Alerts</a>
    </nav>
  </ul>
</header>
