<div class="list-container">
  <h2>Sensor List</h2>
  <ul class="item-list" *ngIf="data$ | async as sensors">
    <li *ngFor="let sensor of sensors" class="item-card">
      <h3>{{ sensor?.greenhouse?.name }} ({{ sensor.id }})</h3>
      <p><strong>Type:</strong> {{ sensor.type }}</p>
      <p><strong>Greenhouse:</strong> {{ sensor.greenhouse }}</p>
      <p>
        <strong>Status:</strong>
        <span [ngClass]="getStatusClass(sensor.status)">{{
          sensor.status
        }}</span>
      </p>
    </li>
  </ul>
  <p *ngIf="loading$ | async">Loading.....</p>
</div>
